{% extends 'home.html.twig' %}
{% block bodymain %}
    <div class="row col-12 ">
        {% for tender in tenderat %}
        <div class="row col-4 ">
            <div class="card" style="width: 22rem; margin-bottom: 15px">
        <div class="card-body">
            <h4>Id: {{ tender.id }}</h4>
            <h5 class="card-title"><b>Titull Thirrje: </b>{{ tender.titull_thirrje }}</h5>

            <table class="table">
                <tbody>
                <tr>
                    <td><b>Kompania</b></td>
                    <td><a>{{ tender.emer_biznesi}} </a></td>

                </tr>
                <tr>
                    <td><b>Vlera e ofertes</b></td>
                    <td>{{ tender.fond_limit }}</td>

                </tr>
                <tr>

                    <td><b>Mbyllje ofertimi</b></td>
                    <td>{{ tender.data_perfundimit|date('d-m-Y')  }}</td>

                </tr>
                <tr>

                    <td><b>Fusha e Operimit</b></td>
                    <td>{{ tender.emer_fushe_operimi }}</td>

                </tr>
                <tr>
                <td>{{ tender.titull_thirrje }}</td>
                </tr>
                </tbody>
            </table>
            <div class="view_name"></div>
                <a href="{{ path('tender_shiko',{'id':tender.id}) }}" >
                    <button class="btn btn-primary" data-toggle="collapse"
                        aria-expanded="false" aria-controls="multiCollapseExample1" >Me shume informacion</button></a>
                 <a href="{{ path('oferto',{'id':tender.id }) }}">
                <button id="sidebarCollapse" class="btn btn-primary">Apliko</button></a>
{#            <a  id="modalAnchor" href="#" data-tenderid="{{tender.id }}">as</a>#}
                <a  class="modalAnchor" data-toggle="modal" href="#" data-target="#myModal" data-tenderid="{{tender.id }}">Open Modal</a>

{#            <a  id="myBtn{{ tender.id }}"  href="#" "getInfo({{ tender.id }})">Modal Open</a>#}

        </div>


                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="exampleModalLabel">Demo</h4>
                            </div>
                            <div class="modal-body">
                                Body modal

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="myModal" class="modal hide fade">
                    <button> close</button>
                 kdsjfsajkfdjkawejkewu
                    <!-- register form here -->
                </div>
    </div>
        </div>

{% endfor %}
    </div>

<style>

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
</style>

    <script src="{{ asset('js/jquery.js') }}"></script>

    <script>

        $(document).ready(function()
        {
            $('.modalAnchor').click(function () {

                // var elem=document.getElementById('modalAnchor');
                var value=$(this).data('tenderid');
                // console.log(value);

                $.ajax({
                                url: "/ajax_information_tender",
                                type: "GET",
                                dataType: "json",
                                data: {
                                    "tenderID": value
                                },
                                async: false,
                                success: function (data) {
                                    console.log(data['data2']);
                                    $(".modal-body").text(data['data']);

                                },
                                fail: function (data) {
                                    console.log("r" + data)
                                }
                            });
            });

        });
            // $('#exampleModal').on('show.bs.modal', function (event) {
            //     var button = $(event.relatedTarget) // Button that triggered the modal
            //     var id= button.data('whatever') // Extract info from data-* attributes
            //     // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            //     // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            //     var modal = $(this)
            //     modal.find('.modal-title').text('The ID is: ' + id)
            //     modal.find('.modal-body input').val(id)
            // })
            // Get the modal

        //     function getInfo(tenderId) {
        //
        //         $.ajax({
        //             url: "/ajax_information_tender",
        //             type: "GET",
        //             dataType: "json",
        //             data: {
        //                 "tenderID": tenderId
        //             },
        //             async: true,
        //             success: function (data) {
        //                 console.log(data);
        //                 $("#view_name").text(data.data);
        //                 var modal = document.getElementById("myModal");
        //                 console.log(modal);
        //
        //                 // Get the button that opens the modal
        //                 var btn = document.getElementById("myBtn");
        //                 var modal = document.getElementById("myModal");
        //
        //                 // Get the <span> element that closes the modal
        //                 var span = document.getElementsByClassName("close")[0];
        //
        //                 // When the user clicks the button, open the modal
        //                 btn.onclick = function () {
        //                     modal.style.display = "block";
        //                 }
        //
        //                 // When the user clicks on <span> (x), close the modal
        //                 span.onclick = function () {
        //                     modal.style.display = "none";
        //                 }
        //
        //                 // When the user clicks anywhere outside of the modal, close it
        //                 window.onclick = function (event) {
        //                     if (event.target == modal) {
        //                         modal.style.display = "none";
        //                     }
        //                 }
        //                 $("#view_name").text(data.data);
        //
        //
        //             },
        //             fail: function (data) {
        //                 console.log("r" + data)
        //             }
        //         })
        //
        //     }
        // }

    </script>

{% endblock %}


