
{{ include ('styleandjs.html.twig') }}
<div id="wrapper">
    <div class="vertical-align-wrap">
        <div class="vertical-align-middle">
            <div class="auth-box ">
                <div class="left">
                    <div class="content">
                        <div class="header">
                            <div class="logo text-center"><img src="assets/img/Logo.png" alt="Logo" width="120px"></div>
                            <p class="lead">Identifikohuni në sistem</p>
                        </div>
                        {{ form_start(form) }}
                            <div class="form-group">
                                <label for="signin-email" class="control-label sr-only">Email</label>
                                {{form_widget(form.username,{'attr': {'class': 'form-control','placeholder': 'NIPT'}})}}
                            </div>
                            <div class="form-group">
                                <label for="signin-password" class="control-label sr-only">Password</label>
                                {{form_widget(form.password,{'attr': {'class': 'form-control','placeholder':'password'}})}}

                            </div>
                            {{ form_row(form.submit,{'attr': {'class': 'btn btn-primary btn-lg btn-block',
                                'tag':'button','style':'width: 100%; padding-left:0px;background-color:#FFC107'}})}}
                        {{ form_end(form) }}
                            <div class="bottom">
                                <span class="helper-text"><i class="fa fa-lock"></i> <a href="#">Forgot password?</a></span>
                            </div>
                            <div  class="d-flex justify-content-center">

                                <a href="{{ path('regjistohu') }}" style="color:#FFC107">Regjistrohu ne Sistem</a>
                            </div>

                    </div>
                </div>
                <div class="right ">
                    <div class="overlay"></div>
                    <div class="content text">

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
