<div class=" container-fluid" >
<section class="login-block">
    <div class="container">
        <div class="row  align-items-center loginForm">
            <div class=" col-md-offset-1 col-md-5  login-sec">
                <h2 class="text-center">Login Now</h2>
                {{form_start(form)}}
                <div class="login-form">
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="text-uppercase">Username</label>
                        {{form_widget(form.username)}}
                      
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="text-uppercase">Password</label>
                        {{form_widget(form.password)}}
                    </div>


                    <div class="form-check">
                         {{form_widget(form.submit)}}
                    </div>

                </div>

            </div>
            {{form_end(form)}}
            <div class="col-md-6 align-items-center banner-sec">
                <div>

                    <img src="{{ asset('images/loginGirl.png') }}">

                </div>
            </div>
        </div>
        <a href="{{ path('regjistohu') }}">Regjistrohu ne Sistem</a>
</section>
</div>

{{ include('styleandjs.html.twig') }}