{% extends 'home.html.twig' %}
{% block bodymain %}
    <table class="table">
    <thead>
    <tr>
        <th>Pershkrim i tenderit</th>
        <th>Vlera e Fondit Limit</th>
        <th>Data e mbylljes se Tenderit</th>
        <th>Statusi i Tenderit</th>
        <th>Vendimi</th>


    </tr>
    </thead>
    <tbody>
    {% for oferta in oferta %}
        <tr>

            <td>{{ oferta.titullTender }}</td>
            <td>{{ oferta.VleraOferte }}</td>
            <td>{{ oferta.dataMbylljeTender }}</td>
        <td>{{ oferta.statusTender }}</td>
        <td>{{ oferta.vendimi }}</td>
            <td><button type="button" class="btn btn-outline-info">
             <a href="{{ path('Modifiko_Oferten', {'id': oferta.id}) }}">Modifiko</a>
                    </a>
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-danger">
                    <a href="{{ path('fshiOferten', {'id': oferta.id})}}">
               Fshi</a>
                </button></td>


    {% else %}
        <tr>
            <td colspan="15">no records found</td>
        </tr>
    {% endfor %}

{% endblock %}