{% extends 'home.html.twig' %}
{% block bodymain %}
<h2> Tenderi:</h2>
<table class="table">
    <tbody>
    <tr>
        <th>TitullThirrje</th>
        <td>{{ tender.titullThirrje }}</td>
    </tr>
    <tr>
        <th>Pershkrim</th>
        <td>{{ tender.pershkrim }}</td>
    </tr>
    <tr>
        <th>FondLimit</th>
        <td>{{ tender.fondLimit }}</td>
    </tr>
    <tr>
        <th>AdresaDorezimit</th>
        <td>{{ tender.adresaDorezimit }}</td>
    </tr>

    <tr>
        <th>DataPerfundimit</th>
        <td>{{ tender.dataPerfundimit ? tender.dataPerfundimit|date('Y-m-d H:i:s') : '' }}</td>
    </tr>
    <tr>
        <th>Licenca</th>
        <td>{{ tender.licenca }}</td>
    </tr>



    </tbody>
</table>
<h2>Ofertat</h2>
<table class="table">
    <thead>
    <tr>
        <th>Pershkrim</th>
        <th>Vlera e Fondit Limit</th>
        <th>Adresa e Dorezimit</th>
        <th>Biznesi</th>
        <th>Shiko Detaje Oferte</th>
        <th>aktivitet</th>

    </tr>
    </thead>
    <tbody>
{% for oferta in ofertat %}
    <tr>

        <td>{{ oferta.OfertaPershkrim }}</td>
        <td>{{ oferta.vlefta }}</td>
        <td>{{ oferta.adresa_dorezimit }}</td>
        <td>{{ oferta.emer_biznesi }}</td>
        <td><a href="{{ path('detaje_oferte', {'id': oferta.OfertaId}) }}"><button type="button" class="btn btn-secondary">
                Shiko Detajet e Ofertes</button></a>

        <td><button type="button" class="btn btn-success">Shpall Fitues</button></td>
    </tr>
{% else %}
    <tr>
        <td colspan="15">no records found</td>
    </tr>
{% endfor %}

    {% endblock %}
